*{
  margin:0;
}
body{
    background-color: hwb(300 12% 53% / 0.336);
  }
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #74469269;
    padding: 10px ;
}
.dropbtn {
    background-color: #2124230a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
  /* search and help by w3school */
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f8f8af;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(102, 231, 231, 0.603);
    z-index: 1;
    border-radius: 10px;
  }
  
.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #b221f541;}
.dropdown:hover .dropdown-content {display: block;} 
.dropdown:hover .dropbtn {background-color: #3a0a708e;}
#Search{
    margin:10px;
    border-radius: 20px;
    border-color: none;
    background-color: hsla(0, 0%, 100%, 0.137);   
    width: 30%;
    box-sizing: border-box;
    border: 3px solid hsla(170, 47%, 45%, 0.897);
    font-size: 16px;
    background-image: url('https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-5.png');
    background-size: 30px;
    background-position: 7px 5px; 
    background-blend-mode:darken;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.project-contanier{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.main-container .card-container{
  flex:1;
  margin: 20px 20px;
  background-color: rgb(231, 201, 201);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}
.main-container .card-container img {
width: 200px;
height: 200px;
padding: 20px;
}
.main-container .card-container h1{
  margin: 15px 0px;
  font-size: 28px;
  color:#1662;
  font-family: sans-serif;
}
.main-container .card-container p{
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  margin: 20px;
  font-family: sans-serif;
}
@media screen and (max-width:824px) and (min-width:700px){
  .main-container{
    grid-template-columns: repeat(2,1fr);
  }

}
@media screen and (max-width: 690px) {
  .main-container{
    display: flex;
      flex-direction: column;
    }
}
footer{
  font-size: 20px;
  background-color: rgba(179, 114, 199, 0.233); 
 text-align: center;
 color: #000000;
 text-decoration: none;
 padding: 20px;
}